:root {
  --bg-main: #f5f7fb;
  --text-main: #0b1020;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: Arial, sans-serif;
}